services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama
      - ./Modelfile:/root/Modelfile
    entrypoint: >
      /bin/sh -c "
      ollama serve & 
      sleep 5;
      ollama pull qwen2.5-coder:0.5b;
      ollama create fastapi-gen -f /root/Modelfile;
      wait"

  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - "8000:8000"
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE

  backend:
    build: ./onedemo
    container_name: one_app
    ports:
      - "8787:8080"
    volumes:
      - ./onedemo:/app
    environment:
      - CHROMA_HOST=chromadb
      - CHROMA_PORT=8000
      - OLLAMA_BASE_URL=http://ollama:11434
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
      - chromadb

volumes:
  ollama_storage:
  chroma_data: